<a href="https://colab.research.google.com/github/santhoshkumartofficial-commits/Python-Pandas/blob/main/Python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Concepts

Pandas is a Python library used for data analysis, data cleaning, and data manipulation.

In [4]:
import pandas

print("welcome pandas")

welcome pandas

# ðŸ“Œ 1. What are Pandas Data Structures?

**âœ… Series**

One-dimensional labeled array

Like a column in Excel

Example:

In [ ]:
s = pd.Series([10, 20, 30])

**âœ… DataFrame**

Two-dimensional table

Rows + Columns

Similar to Excel sheet

Example:

In [ ]:
df = pd.DataFrame({"name": ["A", "B"], "age": [20, 30]})

# 2. Creating DataFrames

From list of lists:

In [ ]:
df = pd.DataFrame([[1,2], [3,4]], columns=["A","B"])

**From dictionaries:**

In [ ]:
df = pd.DataFrame({
    "name": ["John", "Sara"],
    "marks": [85, 92]
})

**From CSV:**

In [ ]:
df = pd.read_csv("data.csv")

**To CSV:**

In [ ]:
df.to_csv("output.csv", index=False)

# 3. Basic DataFrame Operations

| Operation               | Syntax          |
| ----------------------- | --------------- |
| View first rows         | `df.head()`     |
| View last rows          | `df.tail()`     |
| Summary info            | `df.info()`     |
| Statistics              | `df.describe()` |
| Shape (#rows, #columns) | `df.shape`      |
| Column names            | `df.columns`    |

# 4. Selecting Data (Indexing)

**Column selection:**

In [ ]:
df["name"]
df[["name", "age"]]

Row selection:
**bold text**

In [ ]:
df.iloc[0]       # by index
df.loc[0]        # by label

**Slice rows:**

In [ ]:
df[1:4]

# 5. Filtering Data (Conditions)

In [ ]:
df[df["age"] > 30]
df[(df["marks"] >= 90) & (df["age"] < 25)]
df[df["city"].isin(["Delhi", "Chennai"])]

# 6. Adding Columns

In [ ]:
df["new_col"] = df["marks"] + 10

# 7. Deleting Columns/Rows
**Delete column:**

In [ ]:
df.drop("marks", axis=1, inplace=True)

**Delete row:**

In [ ]:
df.drop(2, axis=0)

# 8. Sorting

In [ ]:
df.sort_values("age")
df.sort_values(["age","marks"], ascending=[True, False])

# 9. Handling Missing Data
**Check missing:**

In [ ]:
df.isnull()
df.isnull().sum()

**Fill missing:**

In [ ]:
df.fillna(0)
df["age"].fillna(df["age"].mean())

**Drop missing:**

In [ ]:
df.dropna()

# 10. GroupBy (Very Important)

In [ ]:
df.groupby("city")["marks"].mean()
df.groupby("gender").agg({"marks": ["min","max","mean"]})

# 11. Merging, Joining & Concatenation
**Merge (SQL JOIN):**

In [ ]:
pd.merge(df1, df2, on="id", how="inner")

Types: inner, left, right, outer

**Concat: **

In [ ]:
pd.concat([df1, df2])

# 12. Reading/Writing Different File Formats

| Format | Read              | Write           |
| ------ | ----------------- | --------------- |
| CSV    | `pd.read_csv()`   | `df.to_csv()`   |
| Excel  | `pd.read_excel()` | `df.to_excel()` |
| JSON   | `pd.read_json()`  | `df.to_json()`  |
| SQL    | `pd.read_sql()`   | `df.to_sql()`   |

# 13. Apply Function (apply, map)
**apply():**

In [ ]:
df["marks"].apply(lambda x: x + 5)

**map():**

In [ ]:
df["grade"].map({"A":1, "B":2})

# 14. Value Counts

In [ ]:
df["city"].value_counts()

# 15. Pivot Table

In [ ]:
df.pivot_table(values="sales", index="city", aggfunc="sum")

# 16. Rename Columns

In [ ]:
df.rename(columns={"name": "student_name"}, inplace=True)

# 17. Iterating Rows

In [ ]:
for index, row in df.iterrows():
    print(row["name"], row["marks"])

# 18. Useful Pandas Functions (Interview)

| Function            | Meaning                |
| ------------------- | ---------------------- |
| `unique()`          | Unique values          |
| `nunique()`         | Count of unique values |
| `duplicated()`      | Detect duplicate rows  |
| `drop_duplicates()` | Remove duplicates      |
| `sample()`          | Random sample rows     |
| `corr()`            | Correlation            |

# 19. Pandas Interview Questions

What is a DataFrame?

Difference between Series and DataFrame?

loc vs iloc?

drop vs dropna?

How to handle missing data?

What is groupby?

How merge is different from concat?

Explain pivot_table vs groupby.

What is pandas indexing?

How to remove duplicates?

-------------------------------------------
# ðŸ§  20. Practice Exercises
Easy

Create a DataFrame and print first 3 rows.

Filter marks > 50.

Medium

Load CSV, fill missing values using mean.

Group by city and find average salary.

Hard

Merge two DataFrames (employees & salaries).

Create pivot table of sales by region & month.